/* ---=== FONTS ===---------------------------------------------------------- */
/* -- manrope-500 - latin -- */
@font-face {
  font-display: swap;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/manrope-v20-latin-500.woff2") format("woff2");
}
/* -- manrope-700 - latin -- */
@font-face {
  font-display: swap;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/manrope-v20-latin-700.woff2") format("woff2");
}

/* ---=== VARIABLES CSS ===---------------------------------------------------------- */
:root {
  /* -- colors -- */
  --clr-grey-900: hsl(217, 19%, 35%);
  --clr-grey-500: hsl(214, 17%, 51%);
  --clr-grey-400: hsl(212, 23%, 69%);
  --clr-grey-200: hsl(210, 46%, 95%);
  --clr-white: hsl(0, 0%, 100%);

  /* -- fonts weight -- */
  --fw-medium: 500;
  --fw-bold: 700;

  /* -- fonts size -- */
  --fs-13: 0.8125rem;
  --fs-20: 1.25rem;

  /* -- line height -- */
  --lh-130: 1.3;
  --lh-140: 1.4;
}

/* ---=== RESET ===---------------------------------------------------------- */
*,
::after,
::before {
  box-sizing: border-box;
}

* {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

img,
svg {
  max-width: 100%;
  display: block;
}

h1 {
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ---=== BASE ===----------------------------------------------------------------- */
body {
  font-family: "Manrope", Arial, Helvetica, sans-serif;
  font-size: var(--fs-13);
  font-weight: var(--fw-medium);
  line-height: var(--lh-140);
  letter-spacing: 0.12%;
}

/* ---=== MAIN ===----------------------------------------------------------------- */
.container {
  background-color: var(--clr-grey-200);
  min-height: 100vh;

  display: grid;
  place-items: center;
}

/* -- ARTICLE -- */
.card {
  position: relative;
  max-width: 20.4375rem;
  border-radius: 0.625rem;
  background-color: var(--clr-white);
  box-shadow: 0 40px 40px 10px rgb(201, 213, 225, 0.53);

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card__img {
  min-width: 14.3125rem;
  height: 12.5rem;
  overflow: hidden;
  border-radius: 0.625rem 0.625rem 0 0;
}
.card__img img {
  transform: translateY(-15px);
}

.card__text-container {
  padding: 0 1.875rem 1.125rem 1.875rem;
}

.card__title {
  font-size: var(--fs-20);
  font-weight: var(--fw-bold);
  line-height: 1.3;
  letter-spacing: 0.25px;
  color: var(--clr-grey-900);
  margin-bottom: 1.5rem;
}

.card__description {
  color: var(--clr-grey-500);
  margin-bottom: 3rem;
}

.card__profile-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card__avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
}

.card__name {
  color: var(--clr-grey-900);
  font-weight: var(--fw-bold);
}

.card__date {
  color: var(--clr-grey-400);
}

/* --- SHARE --- */
.card__share {
  display: grid;
  place-items: center;
}

.card__btn {
  width: 2rem;
  height: 2rem;
  background-color: var(--clr-grey-200);
  border-radius: 100%;
  z-index: 1;
  transition: background-color 0.3s ease-in;

  display: grid;
  place-items: center;
}
.card__btn img {
  transition: filter 0.3s ease-in;
}
.card__btn:hover {
  background-color: var(--clr-grey-500);
}
.card__btn:hover img {
  filter: brightness(0) invert(1);
}

/*  BUTTON ACTIVE */
.card__btn.active ~ .card__menu {
  opacity: 1;
  visibility: visible;
}
.card__btn.active {
  background-color: var(--clr-grey-500);
}
.card__btn.active img {
  filter: brightness(0) invert(1);
}

.card__menu {
  position: absolute;
  color: var(--clr-grey-400);
  background-color: var(--clr-grey-900);
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4.75rem;
  border-radius: 0 0 0.625rem 0.625rem;
  transition: 0.3s ease-in;

  display: flex;
  align-items: center;
  gap: 1.5rem;

  opacity: 0;
  visibility: hidden;
}
.card__menu span {
  margin-left: 1.875rem;
  letter-spacing: 25%;
}
.card__menu-link > ul {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* ---=== MEDIA ===----------------------------------------------------------------- */
/* -- TABLET -- */
@media (min-width: 768px) {
  .card {
    max-width: 38rem;
    flex-direction: row;
  }
  .card__description {
    margin-bottom: 1.5rem;
  }

  .card__text-container {
    padding: 2.5rem 2.25rem 2.5rem 0;
  }

  .card__img {
    min-height: 21.625rem;
    max-width: 14.3125rem;
    border-radius: 0.625rem 0 0 0.625rem;
  }

  .card__img img {
    transform: translateY(0px);
    min-height: 100%;
  }

  /* --- SHARE --- */
  .card__share {
    position: relative;
  }

  .card__menu span {
    margin-left: 0;
  }

  .card__menu {
    border-radius: 0.625rem;
    min-width: 15.5rem;
    height: 3.4375rem;
    width: auto;
    transform: translate(-44%, -110%);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    opacity: 0;
    visibility: hidden;
  }

  .card__menu::before {
    content: "";
    position: absolute;
    width: 0.75rem;
    height: 0.75rem;
    background-color: var(--clr-grey-900);
    left: calc(50% - 6px);
    bottom: -6px;
    transform: rotate(45deg);
  }
}

/* -- DESKTOP -- */
@media (min-width: 1440px) {
  .card {
    max-width: 45.625rem;
    gap: 2.5rem;
  }

  .card__text-container {
    padding: 1.875rem 2.5rem 1.875rem 0;
  }

  .card__img {
    min-height: 17.5375rem;
    min-width: 17.8125rem;
  }
}
